<footer class="footer">
  <small>
    <a href="www.agileblaze.com>AgileBlaze || App</a>
    by ROR Team
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="www.migrate2cloud.com">M2C</a></li>
    </ul>
  </nav>
</footer>